<div class="goleadores-wrapper">
    <div class="goleadores-header">
    <div class="goleadores-icono">
      <img src="assets/LogoTablaGoleadores.png" alt="">
    </div>

    <div class="goleadores-header-texto">
      <h2>Goleadores</h2>
      <span>Temporada 2026</span>
    </div>
  </div>
  <div class="goleadores-lista">
    @for (goleador of goleadores.slice(0,5); track goleador.id; let i = $index) {
      <div class="goleador-row" [class.lider]="i === 0">
        <span class="goleador-pos">{{ i + 1 }}</span>
        <div class="goleador-info">
          <span class="goleador-nombre">{{ goleador.nombre_jugador }}</span>
          <span class="goleador-equipo">{{ goleador.equipo }}</span>
        </div>
        <span class="goleador-goles">{{ goleador.goles }}</span>
      </div>
    }
  </div>
</div>