<div class="goleadores-wrapper">
  <h2 class="goleadores-titulo">Tabla de Goleadores</h2>
  <div class="goleadores-lista">
    @for (goleador of goleadores; track goleador.id; let i = $index) {
      <div class="goleador-row" [class.lider]="i === 0">
        <span class="goleador-pos">{{ i + 1 }}</span>
        <div class="goleador-info">
          <span class="goleador-nombre">{{ goleador.nombre_jugador }}</span>
          <span class="goleador-equipo">{{ goleador.equipo }}</span>
        </div>
        <span class="goleador-goles">{{ goleador.goles }}</span>
      </div>
    }
  </div>
</div>