<div class="valla-wrapper">
  <div class="valla-header">
    <div class="valla-icono">
      <img src="assets/LogoTablaVallaMenosVencida.png">
    </div>

    <div class="valla-header-texto">
      <h2>Valla menos vencida</h2>
      <span>Temporada 2026</span>
    </div>
  </div>

  <div class="valla-lista">

    @for(
      equipo of vallas;
      track equipo.nombre;
      let i=$index
    ){

    <div
      class="valla-row"
      [class.lider]="i===0">

      <span class="valla-pos">
        {{i+1}}
      </span>

      <div class="escudo-grande">
        <img
        [src]="equipo.escudo || 'assets/escudo-default.png'"
        (error)="onImgError($event)">
      </div>

      <div class="valla-info">

        <span class="valla-nombre">
          {{equipo.nombre | uppercase}}
        </span>

        <span class="valla-equipo">
          {{equipo.gc}}
          goles recibidos
        </span>

      </div>

      <span class="valla-goles">
        {{equipo.gc}}
      </span>

    </div>

    }

  </div>
</div>