<div class="tabla-wrapper">
  <div class="tabla-header">
    <div class="tabla-icono">
      
    </div>

    <div class="tabla-header-texto">
      <h2>Tabla de posiciones</h2>
      <span>Temporada 2026</span>
    </div>
  </div>
  <div class="tabla-container">
    <table class="tabla">
      <thead>
        <tr>
          <th>#</th>
          <th>Equipo</th>
          <th>PJ</th>
          <th>G</th>
          <th>E</th>
          <th>P</th>
          <th>GF</th>
          <th>GC</th>
          <th>DG</th>
          <th>PTS</th>
        </tr>
      </thead>
      <tbody>
        @for (equipo of posiciones; track equipo.nombre; let i = $index) {
          <tr [class.lider]="i === 0">
            <td class="pos-num">{{ i + 1 }}</td>
            <td class="equipo-nombre">{{ equipo.nombre }}</td>
            <td>{{ equipo.PJ }}</td>
            <td>{{ equipo.PG }}</td>
            <td>{{ equipo.PE }}</td>
            <td>{{ equipo.PP }}</td>
            <td>{{ equipo.GF }}</td>
            <td>{{ equipo.GC }}</td>
            <td>{{ equipo.DG }}</td>
            <td class="puntos">{{ equipo.PTS }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="tabla-info">
      <span>PJ: Partidos jugados</span>
      <span>G: Ganados</span>
      <span>E: Empatados</span>
      <span>P: Perdidos</span>
      <span>GF: Goles a favor</span>
      <span>GC: Goles en contra</span>
      <span>DG: Diferencia de gol</span>
      <span>PTS: Puntos</span>
    </div>
</div>